---
layout: page
title: Tags
lang: en
header: Posts By Tag
group: navigation
---
{% include JB/setup %}
Language Select: 
<ul>
   <li><a href='{{HOME_PATH}}tags.html'>en</a></li>
   <li><a href='{{HOME_PATH}}ja/tags.html'>ja</a></li>
</ul>

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] | where:"lang", page.lang%}
    {% include JB/pages_list %}
  </ul>
{% endfor %}
